{% load static %}
<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DL69 Week 09</title>
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <span>รหัสนักศึกษา: <strong id="studentId">67114540116</strong></span>
            <span>ชื่อ-นามสกุล: <strong id="studentName">ชานนท์ สายแจ้</strong></span>
        </div>

        <div class="canvas-wrapper">
            <canvas id="cv" width="400" height="400"></canvas>
        </div>

        <div id="info" class="info-text">epoch 0 | loss 0 | acc 0%</div>
    </div>

    <script src="{% static 'dashboard/js/main.js' %}"></script>
</body>
</html>
